<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <h1>Bloc Analytics</h1>
      
        <% if user_signed_in? %>
          <h4>Welcome to Bloc Analytics, <%= current_user.email %>! </h4>
          	<%= link_to "My apps", registered_applications_path, class: 'btn-primary btn-lg' %>
        <% else %>
          <p>
            <h4>Register your application to begin gathering insights.</h4>

            <%= link_to "Sign Up", new_user_registration_path, class: 'btn-primary btn-lg'%>
            <%= link_to "Sign In", new_user_session_path, class: 'btn-success btn-lg' %>
          </p>
        <% end %>
    </div>
    <div class="col-sm-6">
      <img src="http://embed.ly/static/images/products/analytics_page_hero.png?v=72734" alt="Analytics">

    </div>
  </div>
  
</div>

  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Free Plan</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Total # of Registered Apps</h3>
         	<%= link_to "My apps", registered_applications_path, class: 'btn-primary btn-lg' %>
          @apps.count
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Top Events</h3>
          <%= link_to "My apps", registered_applications_path, class: 'btn-primary btn-lg' %>
        </div>
      </div>
    </div>
  </div>





